# Environments
venv/
.env

# Python caches
__pycache__/
*.pyc

# Heavy Data & Model Artifacts
data/
models/
*.pth
*.h5
*.tflite
*.onnx

# IDE/OS files
.DS_Store
.vscode/

# Huge ML Checkpoints (GitHub blocks files over 100MB)
*.keras

# React Native / Node
node_modules/
npm-debug.log
yarn-error.log

# 🚨 EXCEPTION: Track the compressed mobile models! 🚨
!mobile_app/assets/models/
!mobile_app/assets/models/*


*.apk